body{
    text-align: center;
    background-color: #0e0d0d;   
}


h1{
    display: flex;
    padding: 0 500px;
    color: rgb(250, 254, 250);
    font-size: 43px;
    background-color: #000000;
    height:150px;
    align-items: center;
    
  
}
 ul{
    margin-top:0px;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   padding: 15px;
   list-style: none;
   list-style-type: none;
   border: #faf9f9;
   
}

p{
    color: #faf9f9;
}
