body{
    text-align: center;
    background-color: rgb(224, 224, 216);
   
   
}
h1{
    color: rgb(23, 24, 23);
    font-size: 43px;
}
 ul{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   
}
li{
    color: rgb(43, 247, 20);
}